.card {
  height: 90vh;
  min-height: 40rem;
}
  
  .caja2 {
      height: 70vh;
      width: 100%;    
      background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M906.5 632q-91.5 132-206 244.5t-241.5 14Q332 792 185 730T46 503q8-165 131.5-256.5t258.5-119Q571 100 661 195t213.5 200q123.5 105 32 237Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23c157ed%22 d=%22M906.5 632q-91.5 132-206 244.5t-241.5 14Q332 792 185 730T46 503q8-165 131.5-256.5t258.5-119Q571 100 661 195t213.5 200q123.5 105 32 237Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-size: contain; 
      background-position: center;        
  }
    
  .caja4 {
   
    width: 25rem;
    height: 30rem;   
  }

  .up {
   height: 4.5rem; 
   position: relative; 
   left: 12rem; 
   top: 4rem;
  }

  .down {
    height: 5.5rem; 
    position: relative; 
    right: 11rem; 
    bottom: 2rem;
  }

  .color {
    background-color:#FFB02E;    
    height: 2.4rem;
    border-radius: 1.2rem;    
}

.btnn {
  border:none;
  padding: 0;
  margin: 0 1rem;
  background-color: transparent; 
  transform: scale(1.8); 
}

.btnn:hover {
  transform: scale(2.2)
}

.btn:hover{
    background-color:#FFB02E;
    border: 1px  black;
    transform: scale(1.1)
}
  .alturafixed {    
    height: 15vh;    
  } 